<div class="continer-fluid aboutuspage">
    <p class="intro-text">Thousands are crowdfunding for various causes support a fundraiser
        TODAY </p>
        <div class="button-container">
            <button class="btn btn-primary button">start a fundraiser</button>
        </div>


        <div class="container fundraisers mt-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="/assets/images/w1.png" class="card-img-top" alt="Widowed image" />
                        <div class="card-body">
                            <p class="card-text">
                                Give aid to simon so that he can get a heart
                                transplan medication an set his life back on
                                track after a road accident on may 2023.
                            </p>
                            <div class="d-flex flex-column align-items-stretch">
                                <p class="bar-text">RAISED/TOTAL</p>
                                <div class="progress" style="width: 9.375rem;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <button class="btn btn-primary button-donate">DONATE</button>
                            </div>
    
    
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="/assets/images/w2.png" class="card-img-top" alt="widowed image" />
                        <div class="card-body">
                            <p class="card-text">help camel manage her farm in makueniand te the kinds to school aftertheir
                                fathers death</p>
                            <div class="d-flex flex-column align-items-stretch">
                                <p class="bar-text">RAISED/TOTAL</p>
                                <div class="progress" style="width: 9.375rem;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <button class="btn btn-primary button-donate">DONATE</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="/assets/images/w3.png" class="card-img-top" alt="Widowed image" />
                        <div class="card-body">
                            <p class="card-text">help camel manage her farm in makueniand te the kinds to school aftertheir
                                fathers death</p>
                            <div class="d-flex flex-column align-items-stretch">
                                <p class="bar-text">RAISED/TOTAL</p>
                                <div class="progress" style="width: 9.375rem;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <button class="btn btn-primary button-donate">DONATE</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="/assets/images/w4.png" class="card-img-top" alt="widowed image" />
                        <div class="card-body">
                            <p class="card-text">help camel manage her farm in makueniand te the kinds to school aftertheir
                                fathers death</p>
                            <div class="d-flex flex-column align-items-stretch">
                                <p class="bar-text">RAISED/TOTAL</p>
                                <div class="progress" style="width: 9.375rem;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <button class="btn btn-primary button-donate">DONATE</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="/assets/images/w5.png" class="card-img-top" alt="widowed image" />
                        <div class="card-body">
                            <p class="card-text">help camel manage her farm in makueniand te the kinds to school aftertheir
                                fathers death</p>
                            <div class="d-flex flex-column align-items-stretch">
                                <p class="bar-text">RAISED/TOTAL</p>
                                <div class="progress" style="width: 9.375rem;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <button class="btn btn-primary button-donate">DONATE</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="/assets/images/w6.png" class="card-img-top" alt="widowed image" />
                        <div class="card-body">
                            <p class="card-text">help camel manage her farm in makueniand te the kinds to school aftertheir
                                fathers death</p>
                            <div class="d-flex flex-column align-items-stretch">
                                <p class="bar-text">RAISED/TOTAL</p>
                                <div class="progress" style="width: 9.375rem;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <button class="btn btn-primary button-donate">DONATE</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="/assets/images/w7.png" class="card-img-top" alt="widowed image" />
                        <div class="card-body">
                            <p class="card-text">help camel manage her farm in makueniand te the kinds to school aftertheir
                                fathers death</p>
                            <div class="d-flex flex-column align-items-stretch">
                                <p class="bar-text">RAISED/TOTAL</p>
                                <div class="progress" style="width: 9.375rem;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <button class="btn btn-primary button-donate">DONATE</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="/assets/images/w8png" class="card-img-top" alt="widowed image" />
                        <div class="card-body">
                            <p class="card-text">help camel manage her farm in makueniand te the kinds to school aftertheir
                                fathers death</p>
                            <div class="d-flex flex-column align-items-stretch">
                                <p class="bar-text">RAISED/TOTAL</p>
                                <div class="progress" style="width: 9.375rem;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <button class="btn btn-primary button-donate">DONATE</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="/assets/images/w9.png" class="card-img-top" alt="widowed image" />
                        <div class="card-body">
                            <p class="card-text">help camel manage her farm in makueniand te the kinds to school aftertheir
                                fathers death</p>
                            <div class="d-flex flex-column align-items-stretch">
                                <p class="bar-text">RAISED/TOTAL</p>
                                <div class="progress" style="width: 9.375rem;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <button class="btn btn-primary button-donate">DONATE</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class=" loadmore mt-5">
                <h5>MAKE YOUR DONATIONS TODAY ! </h5>
                <button class="btn btn-primary button2">SEE MORE DONATIONS</button>
            </div>
    
    
    
        </div>
        
</div>