<div class="container family">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form bg-color">
                <div class="signup">
                    <h5 class="text-center text-style">Login</h5>
                </div>

                <form action="form">
                    <div class="text-center mt-2">
                        <!-- <p>Already signed up with Mfariji? <a >login</a> </p> -->
                        <p>New to Mfariji? <a class="link1" routerLink="/signup">Sign Up</a></p>


                    </div>
                    <div class="fields">
                        <label for="email">EMAIL</label> <br>
                        <input type="email" id="email">
                    </div>
                    <div class="fields">
                        <label for="password">PASSWORD</label> <br>
                        <input type="password" id="password">
                    </div>



                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-secondary color2">Login</button>
                    </div>




                </form>
                <pre> </pre>
            </div>
        </div>
    </div>
</div>